In [6]:
import os
import pandas as pd
import numpy as np

In [7]:
oiseaux = pd.read_csv('../input/cite-u/oiseaux.csv', delimiter = ';')
birds = pd.read_csv('../input/birdsong-recognition/train.csv')
latin_names = pd.read_csv('../input/latinnames/latin_names.csv', delimiter = ';')

In [8]:
birds_test = pd.read_csv('../input/birdsong-recognition/test.csv')

In [9]:
print(birds_test.head())

     site                                      row_id  seconds  \
0  site_1   site_1_0a997dff022e3ad9744d4e7bbf923288_5        5
1  site_1  site_1_0a997dff022e3ad9744d4e7bbf923288_10       10
2  site_1  site_1_0a997dff022e3ad9744d4e7bbf923288_15       15

                           audio_id
0  0a997dff022e3ad9744d4e7bbf923288
1  0a997dff022e3ad9744d4e7bbf923288
2  0a997dff022e3ad9744d4e7bbf923288

## Latin name file from xenocanto - in order to be able to merge oiseaux and train.csv (birds df)

In [10]:
print(latin_names.head())
print(latin_names.info())

           Common name         Scientific name Status  No.  No. Back
0       Common Ostrich        Struthio camelus    NaN    5         0
1       Somali Ostrich  Struthio molybdophanes    NaN    1         0
2         Greater Rhea          Rhea americana    NaN   22         1
3          Lesser Rhea            Rhea pennata    NaN    4         0
4  Southern Brown Kiwi       Apteryx australis    NaN    3         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10966 entries, 0 to 10965
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Common name      10966 non-null  object
 1   Scientific name  10966 non-null  object
 2   Status           158 non-null    object
 3   No.              10966 non-null  int64
 4   No. Back         10966 non-null  int64
dtypes: int64(2), object(3)
memory usage: 428.5+ KB
None

In [31]:
# The status column is about extinct species : 
latin_names[latin_names['Status'].notnull()]['Status'].unique()

array(['Extinct'], dtype=object)

## Check cité U species => df oiseaux

In [12]:
print(oiseaux.head())
print(oiseaux.info())

       Nom vernaculaire            Nom latin       Famille  \
0     Accenteur mouchet   Prunella modularis   Prunellidae
1   Bergeronnette grise       Motacilla alba  Motacillidae
2        Canard colvert   Anas platyrhynchos      Anatidae
3  Chardonneret élégant  Carduelis carduelis  Fringillidae
4       Corneille noire        Corvus corone      Corvidae

  Statut de reproducteur  Unnamed: 4
0        nicheur certain         NaN
1        nicheur certain         NaN
2              hivernant         NaN
3        nicheur certain         NaN
4        nicheur certain         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nom vernaculaire        52 non-null     object
 1   Nom latin               52 non-null     object
 2   Famille                 52 non-null     object
 3   Statut de reproducteur  43 non-null     object
 4   Unnamed: 4              0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 2.2+ KB
None

In [13]:
oiseaux.drop(labels=None, axis=0, index=None, columns='Unnamed: 4', level=None, inplace=True, errors='raise')

In [14]:
print(oiseaux.head())
print(oiseaux.info())

       Nom vernaculaire            Nom latin       Famille  \
0     Accenteur mouchet   Prunella modularis   Prunellidae
1   Bergeronnette grise       Motacilla alba  Motacillidae
2        Canard colvert   Anas platyrhynchos      Anatidae
3  Chardonneret élégant  Carduelis carduelis  Fringillidae
4       Corneille noire        Corvus corone      Corvidae

  Statut de reproducteur
0        nicheur certain
1        nicheur certain
2              hivernant
3        nicheur certain
4        nicheur certain
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nom vernaculaire        52 non-null     object
 1   Nom latin               52 non-null     object
 2   Famille                 52 non-null     object
 3   Statut de reproducteur  43 non-null     object
dtypes: object(4)
memory usage: 1.8+ KB
None

## Check kaggle train.csv species => df birds

In [15]:
print(birds.head())
print(birds.info())

   rating playback_used ebird_code    channels        date          pitch  \
0     3.5            no     aldfly    1 (mono)  2013-05-25  Not specified
1     4.0            no     aldfly  2 (stereo)  2013-05-27           both
2     4.0            no     aldfly  2 (stereo)  2013-05-27           both
3     3.5            no     aldfly  2 (stereo)  2013-05-27           both
4     4.0            no     aldfly  2 (stereo)  2013-05-27           both

   duration      filename          speed           species  ...   xc_id  \
0        25  XC134874.mp3  Not specified  Alder Flycatcher  ...  134874
1        36  XC135454.mp3           both  Alder Flycatcher  ...  135454
2        39  XC135455.mp3           both  Alder Flycatcher  ...  135455
3        33  XC135456.mp3           both  Alder Flycatcher  ...  135456
4        36  XC135457.mp3          level  Alder Flycatcher  ...  135457

                                 url        country            author  \
0  https://www.xeno-canto.org/134874  United States  Jonathon Jongsma
1  https://www.xeno-canto.org/135454  United States       Mike Nelson
2  https://www.xeno-canto.org/135455  United States       Mike Nelson
3  https://www.xeno-canto.org/135456  United States       Mike Nelson
4  https://www.xeno-canto.org/135457  United States       Mike Nelson

                        primary_label longitude         length   time  \
0  Empidonax alnorum_Alder Flycatcher   -92.962  Not specified   8:00
1  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
2  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
3  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
4  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30

          recordist                                            license
0  Jonathon Jongsma        Creative Commons Attribution-ShareAlike 3.0
1       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
2       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
3       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
4       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...

[5 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21375 entries, 0 to 21374
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            21375 non-null  float64
 1   playback_used     19575 non-null  object
 2   ebird_code        21375 non-null  object
 3   channels          21375 non-null  object
 4   date              21375 non-null  object
 5   pitch             21375 non-null  object
 6   duration          21375 non-null  int64
 7   filename          21375 non-null  object
 8   speed             21375 non-null  object
 9   species           21375 non-null  object
 10  number_of_notes   21375 non-null  object
 11  title             21375 non-null  object
 12  secondary_labels  21375 non-null  object
 13  bird_seen         19575 non-null  object
 14  sci_name          21375 non-null  object
 15  location          21375 non-null  object
 16  latitude          21375 non-null  object
 17  sampling_rate     21375 non-null  object
 18  type              21375 non-null  object
 19  elevation         21375 non-null  object
 20  description       15176 non-null  object
 21  bitrate_of_mp3    21367 non-null  object
 22  file_type         21375 non-null  object
 23  volume            21375 non-null  object
 24  background        8300 non-null   object
 25  xc_id             21375 non-null  int64
 26  url               21375 non-null  object
 27  country           21375 non-null  object
 28  author            21375 non-null  object
 29  primary_label     21375 non-null  object
 30  longitude         21375 non-null  object
 31  length            21375 non-null  object
 32  time              21375 non-null  object
 33  recordist         21375 non-null  object
 34  license           21375 non-null  object
dtypes: float64(1), int64(2), object(32)
memory usage: 5.7+ MB
None

## Latin names

In [16]:
latin_names.head()

           Common name         Scientific name Status  No.  No. Back
0       Common Ostrich        Struthio camelus    NaN    5         0
1       Somali Ostrich  Struthio molybdophanes    NaN    1         0
2         Greater Rhea          Rhea americana    NaN   22         1
3          Lesser Rhea            Rhea pennata    NaN    4         0
4  Southern Brown Kiwi       Apteryx australis    NaN    3         0

## Merging dataframes

In [17]:
# Merge is possible only on the same named columns
latin_names.rename(columns = {'Common name' : 'species'}, inplace=True)

In [18]:
# Merging birds and latin names
birds  = pd.merge(birds,
latin_names,
how='left',
on='species')

In [19]:
print(birds.head())

   rating playback_used ebird_code    channels        date          pitch  \
0     3.5            no     aldfly    1 (mono)  2013-05-25  Not specified
1     4.0            no     aldfly  2 (stereo)  2013-05-27           both
2     4.0            no     aldfly  2 (stereo)  2013-05-27           both
3     3.5            no     aldfly  2 (stereo)  2013-05-27           both
4     4.0            no     aldfly  2 (stereo)  2013-05-27           both

   duration      filename          speed           species  ...  \
0        25  XC134874.mp3  Not specified  Alder Flycatcher  ...
1        36  XC135454.mp3           both  Alder Flycatcher  ...
2        39  XC135455.mp3           both  Alder Flycatcher  ...
3        33  XC135456.mp3           both  Alder Flycatcher  ...
4        36  XC135457.mp3          level  Alder Flycatcher  ...

                        primary_label longitude         length   time  \
0  Empidonax alnorum_Alder Flycatcher   -92.962  Not specified   8:00
1  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
2  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
3  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
4  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30

          recordist                                            license  \
0  Jonathon Jongsma        Creative Commons Attribution-ShareAlike 3.0
1       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
2       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
3       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
4       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...

     Scientific name Status  No. No. Back
0  Empidonax alnorum    NaN  257      176
1  Empidonax alnorum    NaN  257      176
2  Empidonax alnorum    NaN  257      176
3  Empidonax alnorum    NaN  257      176
4  Empidonax alnorum    NaN  257      176

[5 rows x 39 columns]

In [20]:
# Merge is possible only on the same named columns
oiseaux.rename(columns = {'Nom latin' : 'Scientific name'}, inplace = True)

In [21]:
common_species = pd.merge(oiseaux,
birds,
how='left',
on='Scientific name')

['Prunella modularis' 'Motacilla alba' 'Anas platyrhynchos'
 'Carduelis carduelis' 'Corvus corone' 'Accipiter nisus'
 'Sturnus vulgaris' 'Falco tinnunculus' 'Falco subbuteo'
 'Sylvia atricapilla' 'Garrulus glandarius' 'Muscicapa striata'
 'Ficedula hypoleuca' 'Larus argentatus' 'Certhia brachydactyla'
 'Turdus viscivorus' 'Turdus pilaris' 'Turdus iliacus' 'Turdus philomelos'
 'Ardea cinerea' 'Hirundo rustica' 'Hippolais polyglotta' 'Apus apus'
 'Turdus merula' 'Aegithalos caudatus' 'Cyanistes caeruleus' 'Parus major'
 'Lophophanes cristatus' 'Periparus ater' 'Passer domesticus'
 'Passer montanus' 'Chroicocephalus ridibundus' 'Psittacula krameri'
 'Dendrocopos major' 'Dendrocopos minor' 'Picus viridis' 'Pica pica'
 'Columba livia' 'Columba oenas' 'Columba palumbus' 'Fringilla coelebs'
 'Phylloscopus trochilus' 'Phylloscopus collybita' 'Regulus ignicapilla'
 'Regulus regulus' 'Erithacus rubecula' 'Phoenicurus ochruros'
 'Serinus serinus' 'Sitta europaea' 'Streptopelia decaocto'
 'Troglodytes troglodytes' 'Carduelis chloris']
      Nom vernaculaire     Scientific name       Famille  \
0    Accenteur mouchet  Prunella modularis   Prunellidae
1  Bergeronnette grise      Motacilla alba  Motacillidae
2       Canard colvert  Anas platyrhynchos      Anatidae
3       Canard colvert  Anas platyrhynchos      Anatidae
4       Canard colvert  Anas platyrhynchos      Anatidae

  Statut de reproducteur  rating playback_used ebird_code    channels  \
0        nicheur certain     NaN           NaN        NaN         NaN
1        nicheur certain     NaN           NaN        NaN         NaN
2              hivernant     4.5            no    mallar3  2 (stereo)
3              hivernant     5.0            no    mallar3  2 (stereo)
4              hivernant     4.5            no    mallar3  2 (stereo)

         date          pitch  ...        author               primary_label  \
0         NaN            NaN  ...           NaN                         NaN
1         NaN            NaN  ...           NaN                         NaN
2  2012-06-19  Not specified  ...  Rudo Jureček  Anas platyrhynchos_Mallard
3  2012-06-19  Not specified  ...  Rudo Jureček  Anas platyrhynchos_Mallard
4  2012-06-05  Not specified  ...  Patrik Åberg  Anas platyrhynchos_Mallard

  longitude         length   time     recordist  \
0       NaN            NaN    NaN           NaN
1       NaN            NaN    NaN           NaN
2    16.976         >10(s)   6:57  Rudo Jureček
3    16.976         >10(s)   7:02  Rudo Jureček
4   14.2763  Not specified  03:58  Patrik Åberg

                                             license Status    No. No. Back
0                                                NaN    NaN    NaN      NaN
1                                                NaN    NaN    NaN      NaN
2  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0
3  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0
4  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0

[5 rows x 42 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 0 to 684
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nom vernaculaire        685 non-null    object
 1   Scientific name         685 non-null    object
 2   Famille                 685 non-null    object
 3   Statut de reproducteur  478 non-null    object
 4   rating                  640 non-null    float64
 5   playback_used           593 non-null    object
 6   ebird_code              640 non-null    object
 7   channels                640 non-null    object
 8   date                    640 non-null    object
 9   pitch                   640 non-null    object
 10  duration                640 non-null    float64
 11  filename                640 non-null    object
 12  speed                   640 non-null    object
 13  species                 640 non-null    object
 14  number_of_notes         640 non-null    object
 15  title                   640 non-null    object
 16  secondary_labels        640 non-null    object
 17  bird_seen               593 non-null    object
 18  sci_name                640 non-null    object
 19  location                640 non-null    object
 20  latitude                640 non-null    object
 21  sampling_rate           640 non-null    object
 22  type                    640 non-null    object
 23  elevation               640 non-null    object
 24  description             348 non-null    object
 25  bitrate_of_mp3          639 non-null    object
 26  file_type               640 non-null    object
 27  volume                  640 non-null    object
 28  background              118 non-null    object
 29  xc_id                   640 non-null    float64
 30  url                     640 non-null    object
 31  country                 640 non-null    object
 32  author                  640 non-null    object
 33  primary_label           640 non-null    object
 34  longitude               640 non-null    object
 35  length                  640 non-null    object
 36  time                    640 non-null    object
 37  recordist               640 non-null    object
 38  license                 640 non-null    object
 39  Status                  0 non-null      object
 40  No.                     640 non-null    float64
 41  No. Back                640 non-null    float64
dtypes: float64(5), object(37)
memory usage: 230.1+ KB
None

In [36]:
print(common_species.head())
print(common_species.info())
print(' list of species : ' + str(common_species['Scientific name'].unique()))
print('distinct species with a file : ' + str(common_species[common_species['filename'].notnull()]['Scientific name'].unique()))

      Nom vernaculaire     Scientific name       Famille  \
0    Accenteur mouchet  Prunella modularis   Prunellidae
1  Bergeronnette grise      Motacilla alba  Motacillidae
2       Canard colvert  Anas platyrhynchos      Anatidae
3       Canard colvert  Anas platyrhynchos      Anatidae
4       Canard colvert  Anas platyrhynchos      Anatidae

  Statut de reproducteur  rating playback_used ebird_code    channels  \
0        nicheur certain     NaN           NaN        NaN         NaN
1        nicheur certain     NaN           NaN        NaN         NaN
2              hivernant     4.5            no    mallar3  2 (stereo)
3              hivernant     5.0            no    mallar3  2 (stereo)
4              hivernant     4.5            no    mallar3  2 (stereo)

         date          pitch  ...        author               primary_label  \
0         NaN            NaN  ...           NaN                         NaN
1         NaN            NaN  ...           NaN                         NaN
2  2012-06-19  Not specified  ...  Rudo Jureček  Anas platyrhynchos_Mallard
3  2012-06-19  Not specified  ...  Rudo Jureček  Anas platyrhynchos_Mallard
4  2012-06-05  Not specified  ...  Patrik Åberg  Anas platyrhynchos_Mallard

  longitude         length   time     recordist  \
0       NaN            NaN    NaN           NaN
1       NaN            NaN    NaN           NaN
2    16.976         >10(s)   6:57  Rudo Jureček
3    16.976         >10(s)   7:02  Rudo Jureček
4   14.2763  Not specified  03:58  Patrik Åberg

                                             license Status    No. No. Back
0                                                NaN    NaN    NaN      NaN
1                                                NaN    NaN    NaN      NaN
2  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0
3  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0
4  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0

[5 rows x 42 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 0 to 684
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nom vernaculaire        685 non-null    object
 1   Scientific name         685 non-null    object
 2   Famille                 685 non-null    object
 3   Statut de reproducteur  478 non-null    object
 4   rating                  640 non-null    float64
 5   playback_used           593 non-null    object
 6   ebird_code              640 non-null    object
 7   channels                640 non-null    object
 8   date                    640 non-null    object
 9   pitch                   640 non-null    object
 10  duration                640 non-null    float64
 11  filename                640 non-null    object
 12  speed                   640 non-null    object
 13  species                 640 non-null    object
 14  number_of_notes         640 non-null    object
 15  title                   640 non-null    object
 16  secondary_labels        640 non-null    object
 17  bird_seen               593 non-null    object
 18  sci_name                640 non-null    object
 19  location                640 non-null    object
 20  latitude                640 non-null    object
 21  sampling_rate           640 non-null    object
 22  type                    640 non-null    object
 23  elevation               640 non-null    object
 24  description             348 non-null    object
 25  bitrate_of_mp3          639 non-null    object
 26  file_type               640 non-null    object
 27  volume                  640 non-null    object
 28  background              118 non-null    object
 29  xc_id                   640 non-null    float64
 30  url                     640 non-null    object
 31  country                 640 non-null    object
 32  author                  640 non-null    object
 33  primary_label           640 non-null    object
 34  longitude               640 non-null    object
 35  length                  640 non-null    object
 36  time                    640 non-null    object
 37  recordist               640 non-null    object
 38  license                 640 non-null    object
 39  Status                  0 non-null      object
 40  No.                     640 non-null    float64
 41  No. Back                640 non-null    float64
dtypes: float64(5), object(37)
memory usage: 230.1+ KB
None
 list of species : ['Prunella modularis' 'Motacilla alba' 'Anas platyrhynchos'
 'Carduelis carduelis' 'Corvus corone' 'Accipiter nisus'
 'Sturnus vulgaris' 'Falco tinnunculus' 'Falco subbuteo'
 'Sylvia atricapilla' 'Garrulus glandarius' 'Muscicapa striata'
 'Ficedula hypoleuca' 'Larus argentatus' 'Certhia brachydactyla'
 'Turdus viscivorus' 'Turdus pilaris' 'Turdus iliacus' 'Turdus philomelos'
 'Ardea cinerea' 'Hirundo rustica' 'Hippolais polyglotta' 'Apus apus'
 'Turdus merula' 'Aegithalos caudatus' 'Cyanistes caeruleus' 'Parus major'
 'Lophophanes cristatus' 'Periparus ater' 'Passer domesticus'
 'Passer montanus' 'Chroicocephalus ridibundus' 'Psittacula krameri'
 'Dendrocopos major' 'Dendrocopos minor' 'Picus viridis' 'Pica pica'
 'Columba livia' 'Columba oenas' 'Columba palumbus' 'Fringilla coelebs'
 'Phylloscopus trochilus' 'Phylloscopus collybita' 'Regulus ignicapilla'
 'Regulus regulus' 'Erithacus rubecula' 'Phoenicurus ochruros'
 'Serinus serinus' 'Sitta europaea' 'Streptopelia decaocto'
 'Troglodytes troglodytes' 'Carduelis chloris']
distinct species with a file : ['Anas platyrhynchos' 'Sturnus vulgaris' 'Larus argentatus'
 'Hirundo rustica' 'Passer domesticus' 'Columba livia'
 'Streptopelia decaocto']

In [38]:
birds[birds['species'] == 'Anas platyrhynchos']

Empty DataFrame
Columns: [rating, playback_used, ebird_code, channels, date, pitch, duration, filename, speed, species, number_of_notes, title, secondary_labels, bird_seen, sci_name, location, latitude, sampling_rate, type, elevation, description, bitrate_of_mp3, file_type, volume, background, xc_id, url, country, author, primary_label, longitude, length, time, recordist, license, Scientific name, Status, No., No. Back]
Index: []

[0 rows x 39 columns]

In [ ]:
common_species.to_csv(r'./common_species.csv', index = False)