In [6]:
import os
import pandas as pd
import numpy as np

In [7]:
# our dataset = oiseaux; dataset kaggle = birds 

oiseaux = pd.read_csv('oiseaux_old.csv', delimiter = ';')
birds = pd.read_csv('train.csv')
latin_names = pd.read_csv('latin_names.csv', delimiter = ';') # file from xenocanto with all species

## Latin name file from xenocanto - in order to be able to merge oiseaux and train.csv (birds df)

In [17]:
print(latin_names.head(), '\n')
print(latin_names.info())

           Common name         Scientific name Status  No.  No. Back
0       Common Ostrich        Struthio camelus    NaN    5         0
1       Somali Ostrich  Struthio molybdophanes    NaN    1         0
2         Greater Rhea          Rhea americana    NaN   22         1
3          Lesser Rhea            Rhea pennata    NaN    4         0
4  Southern Brown Kiwi       Apteryx australis    NaN    3         0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10966 entries, 0 to 10965
Data columns (total 5 columns):
Common name        10966 non-null object
Scientific name    10966 non-null object
Status             158 non-null object
No.                10966 non-null int64
No. Back           10966 non-null int64
dtypes: int64(2), object(3)
memory usage: 428.4+ KB
None

In [19]:
# The status column is only about extinct species : 
latin_names[latin_names['Status'].notnull()]['Status'].unique()

array([nan, 'Extinct'], dtype=object)

## Check cité U species (df oiseaux)

In [16]:
print(oiseaux.head(),'\n')
print(oiseaux.info())

       Nom vernaculaire            Nom latin       Famille  \
0     Accenteur mouchet   Prunella modularis   Prunellidae
1   Bergeronnette grise       Motacilla alba  Motacillidae
2        Canard colvert   Anas platyrhynchos      Anatidae
3  Chardonneret élégant  Carduelis carduelis  Fringillidae
4       Corneille noire        Corvus corone      Corvidae

  Statut de reproducteur  Unnamed: 4
0        nicheur certain         NaN
1        nicheur certain         NaN
2              hivernant         NaN
3        nicheur certain         NaN
4        nicheur certain         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
Nom vernaculaire          52 non-null object
Nom latin                 52 non-null object
Famille                   52 non-null object
Statut de reproducteur    43 non-null object
Unnamed: 4                0 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.1+ KB
None

In [13]:
oiseaux.drop(labels=None, axis=0, index=None, columns='Unnamed: 4', level=None, inplace=True, errors='raise')

In [20]:
print(oiseaux.head(), '\n')
print(oiseaux.info())

       Nom vernaculaire            Nom latin       Famille  \
0     Accenteur mouchet   Prunella modularis   Prunellidae
1   Bergeronnette grise       Motacilla alba  Motacillidae
2        Canard colvert   Anas platyrhynchos      Anatidae
3  Chardonneret élégant  Carduelis carduelis  Fringillidae
4       Corneille noire        Corvus corone      Corvidae

  Statut de reproducteur  Unnamed: 4
0        nicheur certain         NaN
1        nicheur certain         NaN
2              hivernant         NaN
3        nicheur certain         NaN
4        nicheur certain         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
Nom vernaculaire          52 non-null object
Nom latin                 52 non-null object
Famille                   52 non-null object
Statut de reproducteur    43 non-null object
Unnamed: 4                0 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.1+ KB
None

## Check kaggle train.csv species (df birds)

In [23]:
print(birds.head(), '\n')
print(birds.info())

   rating playback_used ebird_code    channels        date          pitch  \
0     3.5            no     aldfly    1 (mono)  2013-05-25  Not specified
1     4.0            no     aldfly  2 (stereo)  2013-05-27           both
2     4.0            no     aldfly  2 (stereo)  2013-05-27           both
3     3.5            no     aldfly  2 (stereo)  2013-05-27           both
4     4.0            no     aldfly  2 (stereo)  2013-05-27           both

   duration      filename          speed           species  \
0        25  XC134874.mp3  Not specified  Alder Flycatcher
1        36  XC135454.mp3           both  Alder Flycatcher
2        39  XC135455.mp3           both  Alder Flycatcher
3        33  XC135456.mp3           both  Alder Flycatcher
4        36  XC135457.mp3          level  Alder Flycatcher

                         ...                           xc_id  \
0                        ...                          134874
1                        ...                          135454
2                        ...                          135455
3                        ...                          135456
4                        ...                          135457

                                 url        country            author  \
0  https://www.xeno-canto.org/134874  United States  Jonathon Jongsma
1  https://www.xeno-canto.org/135454  United States       Mike Nelson
2  https://www.xeno-canto.org/135455  United States       Mike Nelson
3  https://www.xeno-canto.org/135456  United States       Mike Nelson
4  https://www.xeno-canto.org/135457  United States       Mike Nelson

                        primary_label longitude         length   time  \
0  Empidonax alnorum_Alder Flycatcher   -92.962  Not specified   8:00
1  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
2  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
3  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
4  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30

          recordist                                            license
0  Jonathon Jongsma        Creative Commons Attribution-ShareAlike 3.0
1       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
2       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
3       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
4       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...

[5 rows x 35 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21375 entries, 0 to 21374
Data columns (total 35 columns):
rating              21375 non-null float64
playback_used       19575 non-null object
ebird_code          21375 non-null object
channels            21375 non-null object
date                21375 non-null object
pitch               21375 non-null object
duration            21375 non-null int64
filename            21375 non-null object
speed               21375 non-null object
species             21375 non-null object
number_of_notes     21375 non-null object
title               21375 non-null object
secondary_labels    21375 non-null object
bird_seen           19575 non-null object
sci_name            21375 non-null object
location            21375 non-null object
latitude            21375 non-null object
sampling_rate       21375 non-null object
type                21375 non-null object
elevation           21375 non-null object
description         15176 non-null object
bitrate_of_mp3      21367 non-null object
file_type           21375 non-null object
volume              21375 non-null object
background          8300 non-null object
xc_id               21375 non-null int64
url                 21375 non-null object
country             21375 non-null object
author              21375 non-null object
primary_label       21375 non-null object
longitude           21375 non-null object
length              21375 non-null object
time                21375 non-null object
recordist           21375 non-null object
license             21375 non-null object
dtypes: float64(1), int64(2), object(32)
memory usage: 5.7+ MB
None

## Latin names

In [24]:
latin_names.head()

           Common name         Scientific name Status  No.  No. Back
0       Common Ostrich        Struthio camelus    NaN    5         0
1       Somali Ostrich  Struthio molybdophanes    NaN    1         0
2         Greater Rhea          Rhea americana    NaN   22         1
3          Lesser Rhea            Rhea pennata    NaN    4         0
4  Southern Brown Kiwi       Apteryx australis    NaN    3         0

## Merging dataframes oiseaux & birds on Scientific names

In [25]:
# Merge is possible only on the same named columns
latin_names.rename(columns = {'Common name' : 'species'}, inplace=True)

In [26]:
# Merging birds and latin names on the American name ('species')
birds  = pd.merge(birds, latin_names, how='left', on='species')

In [27]:
print(birds.head())

   rating playback_used ebird_code    channels        date          pitch  \
0     3.5            no     aldfly    1 (mono)  2013-05-25  Not specified
1     4.0            no     aldfly  2 (stereo)  2013-05-27           both
2     4.0            no     aldfly  2 (stereo)  2013-05-27           both
3     3.5            no     aldfly  2 (stereo)  2013-05-27           both
4     4.0            no     aldfly  2 (stereo)  2013-05-27           both

   duration      filename          speed           species   ...     \
0        25  XC134874.mp3  Not specified  Alder Flycatcher   ...
1        36  XC135454.mp3           both  Alder Flycatcher   ...
2        39  XC135455.mp3           both  Alder Flycatcher   ...
3        33  XC135456.mp3           both  Alder Flycatcher   ...
4        36  XC135457.mp3          level  Alder Flycatcher   ...

                        primary_label longitude         length   time  \
0  Empidonax alnorum_Alder Flycatcher   -92.962  Not specified   8:00
1  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
2  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
3  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30
4  Empidonax alnorum_Alder Flycatcher  -82.1106         0-3(s)  08:30

          recordist                                            license  \
0  Jonathon Jongsma        Creative Commons Attribution-ShareAlike 3.0
1       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
2       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
3       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...
4       Mike Nelson  Creative Commons Attribution-NonCommercial-Sha...

     Scientific name Status  No. No. Back
0  Empidonax alnorum    NaN  257      176
1  Empidonax alnorum    NaN  257      176
2  Empidonax alnorum    NaN  257      176
3  Empidonax alnorum    NaN  257      176
4  Empidonax alnorum    NaN  257      176

[5 rows x 39 columns]

In [28]:
# Merge is possible only on the same named columns 
oiseaux.rename(columns = {'Nom latin' : 'Scientific name'}, inplace = True)

In [32]:
# Merging oiseaux and birds on the latin names ('Scientific name')
common_species = pd.merge(oiseaux, birds, how='left', on='Scientific name')

In [33]:
print(common_species.head())
print(common_species.info())
print(' list of species : ' + str(common_species['Scientific name'].unique()))
print('distinct species with a file : ' + str(common_species[common_species['filename'].notnull()]['Scientific name'].unique()))

      Nom vernaculaire     Scientific name       Famille  \
0    Accenteur mouchet  Prunella modularis   Prunellidae
1  Bergeronnette grise      Motacilla alba  Motacillidae
2       Canard colvert  Anas platyrhynchos      Anatidae
3       Canard colvert  Anas platyrhynchos      Anatidae
4       Canard colvert  Anas platyrhynchos      Anatidae

  Statut de reproducteur  Unnamed: 4  rating playback_used ebird_code  \
0        nicheur certain         NaN     NaN           NaN        NaN
1        nicheur certain         NaN     NaN           NaN        NaN
2              hivernant         NaN     4.5            no    mallar3
3              hivernant         NaN     5.0            no    mallar3
4              hivernant         NaN     4.5            no    mallar3

     channels        date   ...           author               primary_label  \
0         NaN         NaN   ...              NaN                         NaN
1         NaN         NaN   ...              NaN                         NaN
2  2 (stereo)  2012-06-19   ...     Rudo Jureček  Anas platyrhynchos_Mallard
3  2 (stereo)  2012-06-19   ...     Rudo Jureček  Anas platyrhynchos_Mallard
4  2 (stereo)  2012-06-05   ...     Patrik Åberg  Anas platyrhynchos_Mallard

  longitude         length   time     recordist  \
0       NaN            NaN    NaN           NaN
1       NaN            NaN    NaN           NaN
2    16.976         >10(s)   6:57  Rudo Jureček
3    16.976         >10(s)   7:02  Rudo Jureček
4   14.2763  Not specified  03:58  Patrik Åberg

                                             license Status    No. No. Back
0                                                NaN    NaN    NaN      NaN
1                                                NaN    NaN    NaN      NaN
2  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0
3  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0
4  Creative Commons Attribution-NonCommercial-Sha...    NaN  591.0   1229.0

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 0 to 684
Data columns (total 43 columns):
Nom vernaculaire          685 non-null object
Scientific name           685 non-null object
Famille                   685 non-null object
Statut de reproducteur    478 non-null object
Unnamed: 4                0 non-null float64
rating                    640 non-null float64
playback_used             593 non-null object
ebird_code                640 non-null object
channels                  640 non-null object
date                      640 non-null object
pitch                     640 non-null object
duration                  640 non-null float64
filename                  640 non-null object
speed                     640 non-null object
species                   640 non-null object
number_of_notes           640 non-null object
title                     640 non-null object
secondary_labels          640 non-null object
bird_seen                 593 non-null object
sci_name                  640 non-null object
location                  640 non-null object
latitude                  640 non-null object
sampling_rate             640 non-null object
type                      640 non-null object
elevation                 640 non-null object
description               348 non-null object
bitrate_of_mp3            639 non-null object
file_type                 640 non-null object
volume                    640 non-null object
background                118 non-null object
xc_id                     640 non-null float64
url                       640 non-null object
country                   640 non-null object
author                    640 non-null object
primary_label             640 non-null object
longitude                 640 non-null object
length                    640 non-null object
time                      640 non-null object
recordist                 640 non-null object
license                   640 non-null object
Status                    0 non-null object
No.                       640 non-null float64
No. Back                  640 non-null float64
dtypes: float64(6), object(37)
memory usage: 235.5+ KB
None
 list of species : ['Prunella modularis' 'Motacilla alba' 'Anas platyrhynchos'
 'Carduelis carduelis' 'Corvus corone' 'Accipiter nisus' 'Sturnus vulgaris'
 'Falco tinnunculus' 'Falco subbuteo' 'Sylvia atricapilla'
 'Garrulus glandarius' 'Muscicapa striata' 'Ficedula hypoleuca'
 'Larus argentatus' 'Certhia brachydactyla' 'Turdus viscivorus'
 'Turdus pilaris' 'Turdus iliacus' 'Turdus philomelos' 'Ardea cinerea'
 'Hirundo rustica' 'Hippolais polyglotta' 'Apus apus' 'Turdus merula'
 'Aegithalos caudatus' 'Cyanistes caeruleus' 'Parus major'
 'Lophophanes cristatus' 'Periparus ater' 'Passer domesticus'
 'Passer montanus' 'Chroicocephalus ridibundus' 'Psittacula krameri'
 'Dendrocopos major' 'Dendrocopos minor' 'Picus viridis' 'Pica pica'
 'Columba livia' 'Columba oenas' 'Columba palumbus' 'Fringilla coelebs'
 'Phylloscopus trochilus' 'Phylloscopus collybita' 'Regulus ignicapilla'
 'Regulus regulus' 'Erithacus rubecula' 'Phoenicurus ochruros'
 'Serinus serinus' 'Sitta europaea' 'Streptopelia decaocto'
 'Troglodytes troglodytes' 'Carduelis chloris']
distinct species with a file : ['Anas platyrhynchos' 'Sturnus vulgaris' 'Larus argentatus'
 'Hirundo rustica' 'Passer domesticus' 'Columba livia'
 'Streptopelia decaocto']

In [34]:
birds[birds['species'] == 'Anas platyrhynchos']

Empty DataFrame
Columns: [rating, playback_used, ebird_code, channels, date, pitch, duration, filename, speed, species, number_of_notes, title, secondary_labels, bird_seen, sci_name, location, latitude, sampling_rate, type, elevation, description, bitrate_of_mp3, file_type, volume, background, xc_id, url, country, author, primary_label, longitude, length, time, recordist, license, Scientific name, Status, No., No. Back]
Index: []

[0 rows x 39 columns]

In [35]:
common_species.to_csv(r'./common_species.csv', index = False)

In [47]:
# Checking oiseaux and latin names ('Scientific name')
oiseaux_name_check = pd.merge(oiseaux, latin_names, how='left', on='Scientific name')

In [51]:
print(latin_names.info())

print(oiseaux_name_check.info(), '\n')

print(oiseaux_name_check[oiseaux_name_check['species'].isnull()])

# ils ont changé de nom latin :
#34  Pic épeichette  Dendrocopos minor       Picidae        nicheur certain => 'Dryobates minor'
#51  Verdier d'Europe  Carduelis chloris  Fringillidae        nicheur certain => 'Chloris chloris'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10966 entries, 0 to 10965
Data columns (total 5 columns):
species            10966 non-null object
Scientific name    10966 non-null object
Status             158 non-null object
No.                10966 non-null int64
No. Back           10966 non-null int64
dtypes: int64(2), object(3)
memory usage: 428.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 9 columns):
Nom vernaculaire          52 non-null object
Scientific name           52 non-null object
Famille                   52 non-null object
Statut de reproducteur    43 non-null object
Unnamed: 4                0 non-null float64
species                   50 non-null object
Status                    0 non-null object
No.                       50 non-null float64
No. Back                  50 non-null float64
dtypes: float64(3), object(6)
memory usage: 6.6+ KB
None

    Nom vernaculaire    Scientific name       Famille Statut de reproducteur  \
34    Pic épeichette  Dendrocopos minor       Picidae        nicheur certain
51  Verdier d'Europe  Carduelis chloris  Fringillidae        nicheur certain

    Unnamed: 4 species Status  No.  No. Back
34         NaN     NaN    NaN  NaN       NaN
51         NaN     NaN    NaN  NaN       NaN

In [55]:
print(latin_names[latin_names['Scientific name'] == 'Chloris chloris'])
print(latin_names[latin_names['Scientific name'] == 'Dryobates minor'])

                  species  Scientific name Status   No.  No. Back
9911  European Greenfinch  Chloris chloris    NaN  1343      2846
                        species  Scientific name Status  No.  No. Back
3818  Lesser Spotted Woodpecker  Dryobates minor    NaN  510       340